.footer {
  display: flex;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $width-content-desctop;
  width: 100%;
  background: $color-black;


  @media screen and(max-width: 1300px) {
    width: 90vw;
  }

  @media screen and(max-width: 600px) {
    align-items: center;
    padding: 10px 0;
  }

  .footer__link {
    .footer__link-image {
      height: 30px;
      filter: invert(100%);

      &:hover {
        filter: invert(44%) sepia(95%) saturate(739%) hue-rotate(126deg) brightness(97%) contrast(101%);
        transition: all 0.5s ease;
      }

    }
  }

  .footer__copyright {
    color: $color-white;
    font-size: 18px;
  }
}