$color-white: #f2fff2;
$color-black: #222222;
$color-dark-gray: #303030;
$color-gray: #444444;
$color-gray-smoke: #555555;
$color-medium-gray: #737373;
$color-light-gray: #808080;
$color-green: #008966;
$color-light-green: #00bc8c;
$color-red: #d62c1a;

$width-page-max: 1920px;
$width-content-desctop: 1200px;
